<div>
  <h1>Logged in as</h1>
  <div class="userInfoTable">
  	<div class="row">
  		<div class="col-xs-3">Display Name</div>
  		<div class="col-xs-3">{{logged.userInfo.display_name}}</div>
  	</div>
  	<div class="row">
  		<div class="col-xs-3">Id</div>
  		<div class="col-xs-3">{{logged.userInfo.id}}</div>
  	</div>
  	<div class="row">
  		<div class="col-xs-3">Email</div>
  		<div class="col-xs-3">{{logged.userInfo.email}}</div>
  	</div>

    <div class="row">
      <h3>Search:</h3>
      <input type="text" ng-model="logged.searchBox">
      <button class="btn btn-info" ng-click="logged.search()">Enter</button>
    </div>

    <div class="row">
      <h3>Results:</h3>
    </div>

    <div>
      <div class="row">
        <div class="col-xs-3"><b>Type</b></div>
        <div class="col-xs-3"><b>Image</b></div>
        <div class="col-xs-3"><b>Name</b></div>
        <div class="col-xs-3"><b>Popularity</b></div>
      </div>
      <div class="row" ng-repeat="result in logged.topSearchResults">
        <div class="col-xs-3">{{result.type}}</div>        
        <div class="col-xs-3">
          <img src="{{result.imageSmall.url}}" width="64" height="64"></img>
        </div>
        <div class="col-xs-3">{{result.name}}</div>
        <div class="col-xs-3">{{result.popularity}}</div>
      </div>

    </div>
  </div>

  

</div>